body {
    background-color: black;
    font-family: monospace;
    font-size: large;
    color: rgb(0, 204, 0);
}

#pic1 {
    border-radius: 50%; width: 200px;
}

Div {
    background-color: orangered;
    display: flex;
}